.archiveModal{
    width:300px !important;
    height:150px;
    padding:5px 15px 2px 15px;
}

.archiveModalContent{
    border-top:1px solid #073642;
    border-bottom:1px solid #073642;
    height:70px;
}

.archiveModalContent span{
    padding: 10px 0 0 0;
    width: 100%;
    display:block;
}

.empty{
    font-size:20px !important;
    color:red !important;
}

.ready{
    font-size:15px !important;
    text-align: center !important;
}

.doneArchive{
    font-size:20px !important;
    color:#16A312 !important;
}

.archiveModal button{
    padding:5px;
}

.arcflash_init{
    background-image: url('../images/loader24.gif') !important;
    background-position: 50% 70%!important;
    background-repeat: no-repeat !important;
    background-size:24px!important;
}