
/**
* check browser compatabitlity
*/
.comContent{
    
	width: 725px;
	border: 10px solid rgb(255, 255, 255);
	border-radius: 9px 9px 9px 9px;
    position:relative;
	height:300px;
    top:-245px;
    margin:auto	 auto; 
     padding:0px 50px 0px 50px; 
    display:none;
}


.textModal{
	padding-top:10px;
		
}


.textModal p{
	padding-bottom:10px;
	font-size:15px;
}


.firefox,.ie,.safari,.chrome{
    background-repeat: no-repeat;
    background-position: top center;
    width:150px;
    /* height: 60px; */
    float:left;
    border:5px solid rgb(255, 255, 255);
	border-radius: 9px;
	padding: 110px 5px 5px 5px;
    text-align:center;
    display:none;
}

.firefox{
    background-image: url('../images/firefox.png');
    margin-right:10px;
}

.ie{
    background-image: url('../images/ie.png');
    margin-right:10px;
}

.chrome{
    background-image: url('../images/chrome.png');
    margin-right:10px;
}

.safari{
    background-image: url('../images/safari.png');
}

.comContent span{
	font-size:16px;
    font-weight: bold;
}

.comContent a{
	text-decoration:none !important;
}