 
.modal {
  display: none;
  width: 400px;
  background: #fff;
  padding: 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  z-index:1001 !important;

}
div.jquery-modal.blocker {
  z-index:1000 !important;
}
.modal a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url(../images/close.png) no-repeat 0 0;
}

.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: url(../images/loader24.gif) #111 no-repeat center center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
/* 
	create folder layotut
 */
#create_folder{
	clear:both;
	line-height:2.5em;
	width:360px;
	padding:15px 10px 0px 10px;
	
	background-image: linear-gradient(bottom, rgb(123,181,219) 9%, rgb(180,214,235) 55%);
	background-image: -o-linear-gradient(bottom, rgb(123,181,219) 9%, rgb(180,214,235) 55%);
	background-image: -moz-linear-gradient(bottom, rgb(123,181,219) 9%, rgb(180,214,235) 55%);
	background-image: -webkit-linear-gradient(bottom, rgb(123,181,219) 9%, rgb(180,214,235) 55%);
	background-image: -ms-linear-gradient(bottom, rgb(123,181,219) 9%, rgb(180,214,235) 55%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.09, rgb(123,181,219)),
		color-stop(0.55, rgb(180,214,235))
	);
}

#create_folder label{
	color:#333;
	font-weight:bold;
    font-size:18px;
}

#create_folder > button{
	float:right;
	font-size:15px;
}

#create_folder .msg{
	font-size:15px;
	color:red;
	font-style:italic;
}
/* end craete fokder*/

/*upload file */
#upload_file{
	width:850px;
	height:400px;
}

#choose_file{
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
	
	border-top:1px;
	border-bottom:0;
	border-left:0;
	border-right:0;
	border-style:solid;
	border-color:#000;
	position:absolute;
	bottom:10px;
	width:94%;
}

#choose_file p {
	text-transform: none;
	text-align:right;
	font-size:12px;
	color: black;
}

#choose_file p > span{
	font-weight:bold;
	font-size:14px;
}

#choose_file a{
	background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
 }
/*end upload file*/