#fileSystem li {
	height:70px;
	display:block;
	width:40%;
	float:left;
	padding:5px 0px 0px 70px;
        border: 1px solid transparent;
	cursor:pointer;
	margin:15px 0px;
	background-repeat:no-repeat;
	background-position:left top;
	background-size:65px;
	color:#555;
	text-align:left;
	line-height:1.5em;
	max-height: 70px;c
}

#dropzone > #fileSystem li:hover {
	border:1px solid #dfdfdf;
	background-color:rgba(195, 204, 211, 0.3) !important;
	opacity:1 !important;
	color:#333;
}
#fileSystem .folder {
	background-image: url('../images/file_types/folder.png');
}
#fileSystem .folder.shared {
	background-image: url('../images/file_types/shared_folder.png');
}
#fileSystem .folder.shared.private {
        background-image: url('../images/file_types/locked_folder.png');
}
#fileSystem .folder.submitted {
        background-image: url('../images/file_types/submitted.png');
}
#fileSystem .folder.publications {
        background-image: url('../images/file_types/publications_folder.png');
}
#fileSystem .file {
	background-image: url('../images/file_types/file.png');
}
#fileSystem .file.java {
	background-image: url('../images/file_types/java.png');
}
#fileSystem .file.js {
	background-image: url('../images/file_types/js.png');
}
#fileSystem .file.cSharp, #fileSystem .file.cs {
	background-image: url('../images/file_types/cs.png');
}
#fileSystem .file.css, #fileSystem .file.css {
	background-image: url('../images/file_types/css.png');
}
#fileSystem .file.html {
	background-image: url('../images/file_types/html.png');
}
#fileSystem .file.sql {
	background-image: url('../images/file_types/sql.png');
}
#fileSystem .file.c {
	background-image: url('../images/file_types/c.png');
}
#fileSystem .file.image, #fileSystem .file.jpg, #fileSystem .file.jpeg, #fileSystem .file.png, #fileSystem .file.gif {
	background-image: url('../images/file_types/image.png');
}
#fileSystem .file.archive, #fileSystem .file.zip,  #fileSystem .file.rar {
	background-image: url('../images/file_types/compressed.png');
}
#fileSystem .file.executable, #fileSystem .file.exe {
	background-image: url('../images/file_types/developer.png');
}
#fileSystem .file.excel, #fileSystem .file.xls, #fileSystem .file.xlsx, #fileSystem .file.csv {
	background-image: url('../images/file_types/excel.png');
}
#fileSystem .file.flash, #fileSystem .file.fla {
	background-image: url('../images/file_types/flash.png');
}
#fileSystem .file.movie, #fileSystem .file.avi, #fileSystem .file.mpeg, #fileSystem .file.mpg, #fileSystem .file.wma {
	background-image: url('../images/file_types/movie.png');
}
#fileSystem .file.music, #fileSystem .file.mp3, #fileSystem .file.wav, #fileSystem .file.mp4 {
	background-image: url('../images/file_types/music.png');
}
#fileSystem .file.pdf {
	background-image: url('../images/file_types/pdf.png');
}
#fileSystem .file.psd {
	background-image: url('../images/file_types/photoshop.png');
}
#fileSystem .file.php {
background-image: url('../images/file_types/php.png');
}
#fileSystem .file.powerpoint, #fileSystem .file.ppt, #fileSystem .file.pptx {
background-image: url('../images/file_types/powerpoint.png');
}
#fileSystem .file.text, #fileSystem .file.txt {
background-image: url('../images/file_types/text.png');
}
#fileSystem .file.vb {
background-image: url('../images/file_types/vb.png');
}
#fileSystem .file.word, #fileSystem .file.doc, #fileSystem .file.docx {
background-image: url('../images/file_types/word.png');
}

#dropzone > #fileSystem .selected {
	background-color:rgb(195, 204, 211);
	opacity:0.5;
	color:#000;
}

/*
 *upload file 
 */
#upload_file{
	background-image:url('../images/dropzone.png');
	background-attachment:scroll;
	background-position:50% 25%;
	background-repeat:no-repeat;
}

#upload_file #fileSystem ul{
	margin:500px auto 0 0;
}
#upload_file #fileSystem li:hover{
	cursor:default;
}

#upload_file #fileSystem li {
	min-width:90% !important; 
	min-height:70px !important;  
	padding:0 0 0 80px !important;
	display:block;

	line-height:1.5em;
	
	border:none;
	
	background-repeat:no-repeat;
	background-position:left;
	background-size:40px;
	
	text-align:left;
	color:#6d6d6d;
}

/*used for each item in the drive*/
#driveItem{
	font-weight:bold;
}

.upload_done,.upload_prop,.upload_cancel{
	position:relative;
	right:-12px;
}

.upload_cancel{
	font-family:"entypo";
	font-size:14px;
	color:#D00000;
}

.upload_done{
	font-family:"entypo";
	font-size:14px;
	color:#16A312;
}

.upload_flash{
    background-image: url('../images/loader16.gif');
    background-position: left center;
    background-repeat: no-repeat;
    background-size:18px 18px;
}

.upload_prop{
    font-size:14px;
    padding-left:50px;    
}

/*files that have been choosen to be uploaded*/
.filePreview{
	height:78%;
	display:block;
	overflow:auto;
}
/*end upload file*/

/*flash for populating drive*/
#flash{
	position:relative;
	text-align:center;
	color:#535353;
	font-weight:bold;
	z-index:1001!important;
	
	background-image:url('../images/loader24.gif');
	background-repeat:no-repeat;
	background-position:50% 80%;
	padding-bottom:30px;
}

.appended{
	border:1px dashed green !important;
}
/*end flash*/

/* share folder */
.modal h3 {
    display:block;
    font-size:2em;
    font-weight:bold;
    margin-top:5%;
}
.modal h3+hr {
    margin-bottom:5%;
}
.modal h4{
    display:block;
    font-size:1.2em;
    font-weight:bold;
}
#shareFolderModal input[type=radio]+label, #shareFolderModal input[type=radio] {
    display:inline-block;
    width: auto;
    margin-right: 2%;
}
#shareFolderModal a.button, #shareFolderModal button {
    display: inline-block;
}
#shareFolderModal span.icon {
    font-size:inherit;
}
#shareFolderModal #myTable td:nth-child(1){
    width:85%;
}
#txtSharedFolderFilter {
    width:80%;
}
span.icon.rounded {
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
    background:#333;
    padding:2px;
}
/* end share folder */

/*search design*/
.searchContainer{
	float:right;
	position:relative;
	top:29px;
	right:20px;
	border-radius:5px;
	width:277px;
}

.search{
	width:400px !important;
	float:right;
	position:relative;
	bottom:22px;
}

.searchResults{
	padding:3% 0 3% 13% !important;
	height:26% !important;
	background-position:left !important;
	background-size:9% !important;
}
/*end search*/

/* submission styles*/
#submissionForm ul.DriveItemsList {
    margin:10px 0;
}
/* end submission styles */
