.modal {
  display: none;
  width: 400px;
  background: #fff;
  padding: 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  z-index:1001 !important;

}
div.jquery-modal.blocker {
  z-index:1000 !important;
}
.modal a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url(../images/close.png) no-repeat 0 0;
}

.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: url(../images/loader24.gif) #111 no-repeat center center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
.modal hr {
  margin: 5px 0 0 0;
}
.modal h3 {
  font-size: 2em;
  font-weight: bold;
  padding: 15px 0;
}
.modal h3 span.icon {
  color:#3B3E40;
}
.link {
  cursor: pointer;
}
.modal h4 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px 0;
}
.modal div {
  padding:5px 5px;
}
.modal div:nth-element(last) {
  margin-bottom:20px;
}
.modal div.uploadedFile {
  border:1px #ccc solid;
  margin:5px 0;
  padding:2px;
}
.modal div > div.progress {
  background: #9bc747;
  padding:5px 0px 5px 2px;
  width:0%;
  display:block;
  overflow: hidden;
  color:#FFF;
}
.modal div > div.progress.err {
  background:#c64747;
  width: auto;
}
#modalContents {
  overflow: auto;
  max-height: 300px;
}
#modalContents .icon {
  color:inherit !important;
  vertical-align: middle;
  margin-right: 10px;
}

.DriveItemsList li a{
  padding: 1% 1%;
  display: block;
}
.DriveItemsList li a:hover{
  border-bottom: #F3F3F3 1px solid;
}
.DriveItemsList li ul.subMenu {
  padding-left:20px;
  margin-bottom: 10px;
}
.hasSubMenu {
  border-left: #E3E3E3 1px solid;
}
.DriveItemsList a {
  color:inherit;
}
.DriveItemsList a:hover {
  color:#5daced;
}

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes flash {
  0%, 50%, 100% {opacity: 1;} 25%, 75% {opacity: 0;}
}

@-moz-keyframes flash {
  0%, 50%, 100% {opacity: 1;} 
  25%, 75% {opacity: 0;}
}

@-o-keyframes flash {
  0%, 50%, 100% {opacity: 1;} 
  25%, 75% {opacity: 0;}
}

@keyframes flash {
  0%, 50%, 100% {opacity: 1;} 
  25%, 75% {opacity: 0;}
}

.flash {
  -webkit-animation-name: flash;
  -moz-animation-name: flash;
  -o-animation-name: flash;
  animation-name: flash;
}