 /*for MODAL*/
 .datepicker_timelist {
   width:75px !important;
 }
#dialogConfirm{
	background-image: linear-gradient(bottom, rgb(237,212,129) 43%, rgb(237,222,162) 72%, rgb(237,233,189) 86%);
	background-image: -o-linear-gradient(bottom, rgb(237,212,129) 43%, rgb(237,222,162) 72%, rgb(237,233,189) 86%);
	background-image: -moz-linear-gradient(bottom, rgb(237,212,129) 43%, rgb(237,222,162) 72%, rgb(237,233,189) 86%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,212,129) 43%, rgb(237,222,162) 72%, rgb(237,233,189) 86%);
	background-image: -ms-linear-gradient(bottom, rgb(237,212,129) 43%, rgb(237,222,162) 72%, rgb(237,233,189) 86%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.43, rgb(237,212,129)),
		color-stop(0.72, rgb(237,222,162)),
		color-stop(0.86, rgb(237,233,189))
	);
}

#dialogAlert{
	/* background:rgb(255,247,178);  */
	width:300px;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

}
#dialogAlert h1 {
  font-weight: bold;
}

#dialogArchive{
	/* background:rgb(255,247,178);  */
	width:300px;
	background-image: linear-gradient(bottom, rgb(247,156,177) 43%, rgb(231,199,201) 72%, rgb(249,196,209) 86%);
	background-image: -o-linear-gradient(bottom, rgb(247,156,177) 43%, rgb(231,199,201) 72%, rgb(249,196,209) 86%);
	background-image: -moz-linear-gradient(bottom, rgb(247,156,177) 43%, rgb(231,199,201) 72%, rgb(249,196,209) 86%);
	background-image: -webkit-linear-gradient(bottom, rgb(247,156,177) 43%, rgb(231,199,201) 72%, rgb(249,196,209) 86%);
	background-image: -ms-linear-gradient(bottom, rgb(247,156,177) 43%, rgb(231,199,201) 72%, rgb(249,196,209) 86%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.43, rgb(247,156,177)),
		color-stop(0.72, rgb(231,199,201)),
		color-stop(0.86, rgb(249,196,209))
	);
}


.modal_icon{
	float:left;
	font-size:50px;
	font-family: "entypo";
	color:#FF6666;
	padding-right:10px;
	border-right:1px solid #aaaaaa;
	height:45px;
}

.modal_Content{
	padding-left:70px;
	font-family:'Verdana';
	font-size:16px;
	display:block;
	line-height:1.5em;
	padding-bottom:10px;
}

.modal_header{	
	font-weight:bold;
}

.modal_Button{
	display:block;
	text-align:center;
}

.modal_Button button{
	width:150px;
	padding:10px 30px 10px 30px;
}

#modalContents input[disabled] {
    background-color: #f0f0f0;
}

/*** bloker***/
.securityQuestion{
    position:relative!important;
/*end for MODAL*/
    width:1106px !important;
    height:400px;
    top:15%;
    left:-30px;
    padding:50px !important;
    line-height: 3em;
}

#cons input{
    width:90%;
}

.sec_0{
    text-align:left;
    font-style: italic;
}

.sec_1{
    margin-bottom: 30px;
    font-size:18px;
    border-bottom:1px solid #007a96;
    
}

.sec_2{
    font-size:20px;
    text-align: left;
}

.bg1{
    background-image:url(smart.png);
}
